@font-face {
  font-family: 'Varela Round', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Varela+Round);
}

@font-face {
  font-family: 'Muli', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400');
}

.footerText {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: rgb(238, 236, 236);
  border-top: 1px solid rgb(230, 230, 230);
  text-align: center;
}

.hotPink {
  color: #FF69B4;
  display: inline;
}

.navBorderGradient li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

  .socialMedia li {
    display: inline;
    font-size: 1em;
  }

  .fa-mycustomx {
    font-size: 1.2em;
    position: absolute;
  }

  .fa-snapchat-square {
    left: 65%;
    top: .5em;
  }

  .fa-facebook-square {
    left: 71%;
    top: .5em;
  }

  .fa-instagram {
    left: 79%;
    top: .5em;
  }

  .fa-twitter-square {
    left: 87%;
    top: .5em;
  }

body{
  margin: 0;
  background-color: #f9f9f9;
}

.navBorderGradient {
  letter-spacing: 3px;
  font-family: 'Muli', sans-serif;
  border-bottom: .01em solid rgb(226, 226, 226);
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#f9f9f9 75%, rgb(238, 237, 237));
}

h1 {
  font-family: 'Muli', sans-serif;
  font-size: 7em;
  letter-spacing: 0.1em;
  font-weight: 200;
  padding: 0;
  margin: 0;
  margin-left: 0.9em;
  padding-bottom: .3em;
  padding-top: .3em;
}

a:hover{
  color:#FF69B4;
}

a{
  color: darkgray;
  text-decoration: none;
}
  
