.hotPink {
  color: #FF69B4;
  display: inline;
}

h1 {
  font-family: 'Varela Round', sans-serif;
}

@font-face {
  font-family: 'Varela Round', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Varela+Round);
}
  
