@font-face {
  font-family: 'Varela Round', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Varela+Round);
}

@font-face {
  font-family: 'Muli', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400');
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: row;
  width: 40em;
  height: 40em;
  background-color: rgb(223, 223, 223);
  margin: auto;
  border-radius: 2%;
  margin-top: 3em;
  box-shadow: 5px 5px 2px #c2c2c2;
}

.image {
  align-self: center;
}

.mainImageOne:hover {
  box-shadow: 2px 4px 6px rgba(255, 105, 180, 0.356);
  height: 460px;
  width: 306px;
  transition: 0.3s;
}

.mainImageOne {
  height: 450px;
  width: 300px;
  border-radius: 3%;
}

.footerText {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: rgb(238, 236, 236);
  border-top: 1px solid rgb(230, 230, 230);
  text-align: center;
  font-family: 'Muli', sans-serif;
}

.hotPink {
  color: #FF69B4;
  display: inline;
}

.socialMedia mediaLinks {
  font-family: 'Muli', sans-serif;
}

.navBorderGradient li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

  .mediaLinks {
    color: black;
    font-family: 'Muli', sans-serif;
  }

  .fa-mycustomx {
    font-size: 1.8em;
  }

  .socialMedia {
    text-align: right;
    padding-right: 3em;
    margin: 0;
  }

body{
  margin: 0;
  background-color: #f9f9f9;
}

.navBorderGradient {
  letter-spacing: 3px;
  font-family: 'Muli', sans-serif;
  border-bottom: .01em solid rgb(226, 226, 226);
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#f9f9f9 75%, rgb(238, 237, 237));
}

h1 {
  font-family: 'Muli', sans-serif;
  font-size: 7em;
  letter-spacing: 0.1em;
  font-weight: 200;
  padding: 0;
  margin: 0;
  margin-left: 0.9em;
  padding-bottom: .3em;
  padding-top: .3em;
  }

ul p {
  padding: .1em 1em 0 0;
  margin: .4em 0 0 0; 
}

a:hover{
  color:#FF69B4;
}

a{
  color: darkgray;
  text-decoration: none;
}
  

